.container_list ul{
    list-style: none;
    color: #ffffffe1;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-right: 40px;
}
.container_list li{
    font-size: 1.4em;
    text-align: center;
    font-weight: 800;
}
.link{
    color: #ffffffe1;
    text-decoration: none;
    
}