.container_list ul{
    list-style: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 40px;
}
.container_list li{
    font-size: 1.9em;
    text-align: center;
}
.link{
    color: white;
    text-decoration: none;
}