
.sidebar_header {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);  /* Antes era uma borda branca sólida */
}
.sidebar_title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #ffffff;
}
.sidebar_nav {
    margin-top: 1.5rem;
}
.nav_item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    color:#ffffff ;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}
  
.nav_item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* leve sobreposição branca */
}
.nav_item svg {
    width: 1.55rem;
    height: 1.55rem;
}
.nav_item span {
    margin-left: 0.75rem;
    font-size: 0.875rem;
    color: white;
}
.user_container{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_container img{
    border-radius: 50%;
    height: 150px;
}
@media (max-width:1024px){
    .sidebar_title{
        padding-left: 55px;
    }
 }
 
 @media (max-width:640px){
    
 }