
.sidebar_header {
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
}
.sidebar_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f2937;
}
.sidebar_nav {
    margin-top: 1.5rem;
}
.nav_item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    color:#4b5563 ;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}
  
.nav_item:hover {
    background-color: #f3f4f6;
    color: #319452;
}
.nav_item svg {
    width: 1.55rem;
    height: 1.55rem;
}
.nav_item span {
    margin-left: 0.75rem;
    font-size: 0.875rem;
}
