
.login_container{
    display: flex;
    height: 100vh;
    width: 100%;
}   
.login_left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50%;
    background: linear-gradient(to bottom, #50C878, #28643C, #307748)
}
.logo_banese{
    width: 150px;
    border-radius: 10px;
}
.title_banese{
    font-size: 4.8em;
    color: white;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.603);
}
.login_rigth{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.form_container{
    border-radius: 10px;
    border: 1.5px solid #50C878;
    width: 100%;
    height: auto;
    padding: 50px;
    max-width: 520px;
}
.form_container h1 {
    font-size: 3.0rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.form_container h2 {
    font-size: 2.25rem;
    color: #666;
    margin-bottom: 2rem;
}
.form_group {
    margin-bottom: 1.5rem;
}
.form_group label{
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.5rem;
}
.form_group input {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.062);
    width: 95%;
    padding: 0.75rem 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    background-color: #f8fafc;
    font-size: 1rem;
    transition: all 0.2s;
}
.container_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #666;
}
.btn{
    font-weight: bolder;
    width: 100%;
    background-color: #2B9348;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.2s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.075);
}
.btn:hover {
    background-color: #1b7a37;
}
.forgot_password{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.google_login{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}
.google_login img{
    cursor: pointer;
}
.google_register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    color: #50C878;
    font-weight: bolder;
    cursor: pointer;
}
/* Celulares pequenos */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .form_container h1{
        font-size: 1.8em;
   }
   .form_container h2{
        font-size: 1.4em;
    }
    .login_container{
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, #50C878, #28643C, #307748);
    }
    .login_rigth{
        width: 100%;
    }
    .form_container{
        padding: 30px;
        width: 300px;
        background-color: white;
    }
    .login_left{
        display: none;
    }

}

/* Celulares médios e grandes */
@media screen and (min-width: 481px) and (max-width: 600px) {
    .form_container h1{
        font-size: 2.3em;
   }
   .form_container h2{
        font-size: 2.0em;
    }
    .login_container{
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, #50C878, #28643C, #307748);
    }
    .login_rigth{
        width: 100%;
    }
    .form_container{
        background-color: white;
    }
    .login_left{
        display: none;
    }
}

/* Tablets pequenos */
@media screen and (min-width: 601px) and (max-width: 930px) {
    .login_container{
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, #50C878, #28643C, #307748);
    }
    .login_rigth{
        width: 100%;
    }
    .form_container{
        background-color: white;
        width: 480px;
    }
    .login_left{
        display: none;
    }
}
/* Tablets e notebooks pequenos */
@media screen and (min-width: 930px) and (max-width: 1149px) {
   .form_container h1{
        font-size: 2.5em;
   }
   .form_container h2{
        font-size: 2.0em;
    }
    .login_left{
        flex-direction: column;
        gap: 0;
    }
    .title_banese{
        font-size: 4.2em;
    }
}