.container_dasboard{
    height: 100vh;
    width: 100%;
    display: flex;
}

.sidebar{
    height: 100%;
    width: 15%;
    background: linear-gradient(to bottom,  #50C878, #28643C, #307748);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.metrics{
    background-color: #ffffff;
    width: 85%;
    height: 100%;
    padding: 2em;
}

.logo_banese{
    width: 100px;
    border-radius: 10px;
    margin-bottom: 30px;
}
/*<FontAwesomeIcon icon="fa-solid fa-user" />*/
/*<FontAwesomeIcon icon="fa-solid fa-coins" />*/
/*<FontAwesomeIcon icon="fa-solid fa-eye" />*/
/*<FontAwesomeIcon icon="fa-solid fa-circle-xmark" />*/
/**/