.container_dasboard{
    height: 100vh;
    width: 100%;
    display: flex;
}

.sidebar{
    height: 100%;
    width: 15%;
    background: linear-gradient(to bottom,  #50C878, #28643C, #307748);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.metrics{
    width: 85%;
    height: 100%;
    padding: 2em;
}
.container_cards{
    
}
.group_cards{
    border: 2px solid #50C878;
    width: 200px;
    height: 120px;
    border-radius: 20px;
}
.logo_banese{
    width: 100px;
    border-radius: 10px;
    margin-bottom: 30px;
}