.container_dasboard{
    height: 100vh;
    width: 100%;
    display: flex;
}

.sidebar{
    height: 100%;
    width: 15%;
    background: linear-gradient(to bottom,  #50C878, #28643C, #307748);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.metrics{
    background-color: #f8f9fa;
    width: 85%;
    height: 100%;
    padding: 2em;
}

.logo_banese{
    width: 100px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.container_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cria colunas responsivas */
    gap: 20px; /* Espaçamento entre os cards */
    margin-top: 20px;
}

.group_cards {
    background: white;
    border: 2px solid #50C878;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.group_cards:hover {
    transform: translateY(-5px);
    background: #e3e3e3;
}
.group_cards h3{
    margin-bottom: 0;
}
.group_cards p{
    margin-top: 5px;
}
.icon {
    font-size: 30px;
    color: #307748;
}

/*<FontAwesomeIcon icon="fa-solid fa-user" />*/
/*<FontAwesomeIcon icon="fa-solid fa-coins" />*/
/*<FontAwesomeIcon icon="fa-solid fa-eye" />*/
/*<FontAwesomeIcon icon="fa-solid fa-circle-xmark" />*/
/**/