.dashboard_title{
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.cards_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.card{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
  }
.card_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
.card_info p:first-child{
    font-size: 0.875rem;
    color: #6b7280;
}
.card_info p:last-child {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
.card_icon{
    padding: 0.75rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_icon svg {
     width: 1.75rem;  
    height: 1.75rem;  
    color: white;
}
.iconBlue { background-color: #2E8B57; }
.iconGreen { background-color: #2E8B57; }
.iconPurple { background-color: #2E8B57; }
.iconRed { background-color: #2E8B57; }

.grid_notifications{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 2rem;
}
.card_notifications{
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.card_notifications_title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #111827;
}
.activity_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.activity_item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
}
.activity_item:hover {
    background-color: #f9fafb;
}
.activity_icon{
    background-color: rgba(46, 139, 87, 0.1);
    padding: 0.75rem;
    border-radius: 0.75rem;
}
.activity_icon svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #2E8B57;
}
  
@media (max-width: 1024px) {
    .cards_grid {
        grid-template-columns: repeat(2, 1fr);
      }
    
      .bottom-grid {
        grid-template-columns: 1fr;
      }
}
@media (max-width: 640px) {
    .cards_grid {
        grid-template-columns: 1fr;
      }
    
      .card-info p:last-child {
        font-size: 1.25rem;
      }
}
