.app_container{
    display: flex;
    min-height: 100vh;
}
/*sidebar*/

.main_content{
    flex: 1;
    margin-left: 288px;
    padding: 1.5rem;
    overflow-x: hidden;
}
.sidebar{
    background-color: white;
    width: 280px;
    min-height: 100vh;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    transition: transform 0.2s ease-in-out;
}