@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f3f4f6;
  color: #1f2937;
}
